div{
    background-color: yellow;
    width: 20px;
    height: 20px;
    position: relative;
    left: 10px;
    top: 10px;
    border: 1px solid black;
    display: inline-block;
    margin: 12px;
}
span{
    background-color: green;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 24px;
    top: 10px;
    border: 1px solid black;
}